@import 'reset';
@import 'components.dashboard';
@import 'components.users-list';

.highlightedText {
  background: yellow;
}
.echarts div:nth-child(2) {
  color: #fff !important;
  background-color: rgb(36, 16, 16) !important;
}
